<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Edit Task</h1>
    <form action="{{ url_for('edittask', id=task.ID) }}" method="POST">
        <input type="hidden" name="ID" value="{{ task.ID }}">
        <input type="date" name="DATE" value="{{ task.DATE }}" required>
        <input type="time" name="TIME" value="{{ task.TIME }}" required>
        <input type="text" name="TASK" value="{{ task.TASK }}" required>
        <button type="submit">Update Task</button>
    </form>
    <a class="back" href="{{ url_for('home') }}" >Back to Home</a>
</body>
</html>